:root {
    --sidebar-bg-color: #f0f0f0;
    --main-bg-color: #fff;
    --output-bg-color: #f9f9f9;
    --button-bg-color: #007bff;
    --button-bg-color-hover: #0056b3;
    --border-radius: 4px;
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
}

.container {
    display: flex;
    max-width: 98%;
    min-height: 90vh;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    width: 15%;
    padding: 20px;
    overflow-y: auto;
}

.main-content {
    width: 60%;
    padding: 20px;
    min-height: 70vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.output-panel {
    background-color: var(--output-bg-color);
    width: 25%;
    padding: 20px;
    overflow-y: auto;
}

.recent-docs ul {
    list-style-type: none; /* Removes the default list item markers */
    padding-left: 0; /* Removes the default padding */
}

.recent-docs ul li {
    padding: 2px; /* Adds padding inside each list item for better spacing */
    margin-bottom: 0px; /* Adds a margin at the bottom of each list item */
    background-color: var(--output-bg-color); /* Uses the variable for background color */
    border-radius: var(--border-radius); /* Uses the variable for border radius */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Changes the cursor to indicate the items are clickable */
}

.recent-docs ul li:hover {
    background-color: var(--sidebar-bg-color); /* Changes background color on hover */
    color: #333; /* Optionally change text color on hover for better contrast */
}

.menu {
    padding: 15px;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
}

.file-controls, .text-entry {
    margin-bottom: 10px;
}

.module .module-output textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    min-height: 30vh;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    resize: vertical;
}

.toggle-module {
    font-size: 0.9em;
    display: inline-block;
    margin: 3px 5px;
    padding: 3px 5px;
    background-color: #dcdcdc;
    border: 1px solid #bdebe6;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 75px; /* Adjust as needed to prevent text from wrapping */
    white-space: nowrap; /* Prevents the text from wrapping */
}

/* Hover effect for toggle-module labels */
.toggle-module:hover {
    background-color: #e0e0e0; /* Darkens the label on hover */
}


textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    resize: vertical;
}

button {
    padding: 5px 20px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: var(--button-bg-color-hover);
}

button:focus, .toggle-module:focus {
    outline: 2px solid var(--button-bg-color-hover);
}

.prompt-select {
    font-size: 1.0em;
    width: 100%;
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.module {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 0px;
    border-radius: var(--border-radius);
}

.module .module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.module .module-header .title {
    font-size: 0.9em;
    font-weight: bold;
}

.module .module-content {
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar, .main-content, .output-panel {
        width: 100%;
    }
}
